In [25]:
#import the dependencies
import pandas as pd
import gmaps
import requests

#import the API key
from config import g_key

In [26]:
#import csv file

city_data_df = pd.read_csv("weather_data./cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carnarvon,AU,2020-12-22 22:42:37,-24.87,113.63,75.20,100,0,5.82
1,1,Itupiranga,BR,2020-12-22 22:42:37,-5.13,-49.33,82.40,94,20,2.26
2,2,Barrow,US,2020-12-22 22:42:37,71.29,-156.79,-13.00,69,40,28.86
3,3,Genhe,CN,2020-12-22 22:42:38,50.78,121.52,-2.18,90,99,3.38
4,4,Cockburn Town,TC,2020-12-22 22:40:21,21.46,-71.14,78.80,74,40,5.82

In [27]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [28]:
#Create a Maximum Temperature Heatmap
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [29]:
# Heatmap of temperature
# Get the latitude and longitude.
#locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure()
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
#fig.add_layer(heat_layer)
# Call the figure to plot the data.
#fig

In [30]:
#To remove the negative temperatures we can use a for loop to iterate through the max_temp and add the temperatures that are greater than 0 °F to a new list.
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
#get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp, 0))
    
# Assign the figure variable.  
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
#Instead of using the for loop, we can perform a list comprehension within the heatmap_layer() function.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [32]:
#Adjust Heatmap Zoom, Intensity, and Point Radius
#First, add the geographic center of Earth in the form of latitude and longitude (30.0° N and 31.0° E). Also, add a zoom level so that only one map of Earth is shown.
#When we add a center and zoom level to the gmaps.figure() attribute, it will look like this:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
#If we scroll and zoom in on North America, we can see that the circles for the temperatures need to be modified 
#so that they are larger and show temperature gradient differences.

heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
#Create a Percent Humidity Heatmap
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
#Create a Wind Speed Heatmap
#Now we can create the final heatmap. Copy the code that created the previous heatmap and edit your code with 
#the line wind = city_data_df["Wind Speed"] so that the wind speed replaces the percent cloudiness, and set the 
#variable weights=wind, and run your cell.

In [35]:
#Now, the cherry on top of the project: a feature on the app that allows customers 
#to search for locations they want to travel based on their temperature preferences.

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [36]:
#Next, filter the maximum temperature column in the city_data_df DataFrame using logical operators to create a new DataFrame with the cities that meet the customer's criteria.

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carnarvon,AU,2020-12-22 22:42:37,-24.87,113.63,75.20,100,0,5.82
1,1,Itupiranga,BR,2020-12-22 22:42:37,-5.13,-49.33,82.40,94,20,2.26
4,4,Cockburn Town,TC,2020-12-22 22:40:21,21.46,-71.14,78.80,74,40,5.82
8,8,Butaritari,KI,2020-12-22 22:42:39,3.07,172.79,80.87,81,59,18.99
9,9,Buala,SB,2020-12-22 22:42:39,-8.14,159.59,86.47,66,72,0.85
13,13,Hithadhoo,MV,2020-12-22 22:42:40,-0.60,73.08,82.26,75,100,18.01

In [37]:
#Add the following code to a new cell and run the cell to determine if there are any null values.
preferred_cities_df.count()

City_ID       6
City          6
Country       6
Date          6
Lat           6
Lng           6
Max Temp      6
Humidity      6
Cloudiness    6
Wind Speed    6
dtype: int64

In [38]:
#Consider the following guidance:

#Depending on the time of year and the seasons, you might have to adjust the minimum and maximum temperature to get enough cities.
#It is a good idea to keep the number of cities to fewer than 200 to make it easier to plot the markers on the heatmap.
#If you have some rows with null values, you'll need to drop them using the dropna() method at the end of your filtering statement when you are creating the new DataFrame.

In [39]:
#Now that we have all the cities the customer wants to travel to, they will need to find a hotel to stay in the city.
#Once the customers have filtered the database (DataFrame) based on their temperature preferences, show them a heatmap for the maximum temperature for the filtered cities. In addition, create a marker for each city that will display the name of the city, country code, maximum temperature, and name of a nearby hotel within three miles of the coordinates when the marker is clicked.
#Get Travel Destinations
#Don't add the hotel information to the preferred_cities_df DataFrame because this DataFrame is our filtered DataFrame, and the customer will always filter it for each trip. We'll need to create a new DataFrame specifically for the data needed to create a heatmap and pop-up markers.
#Make a copy of the preferred_cities_df DataFrame and name it hotel_df. For the hotel_df, keep the columns "City," "Country," "Max Temp," "Lat," and "Lng." Add a new column to the hotel_df DataFrame to hold the name of the hotel.

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
0       Carnarvon      AU     75.20 -24.87  113.63
1      Itupiranga      BR     82.40  -5.13  -49.33
4   Cockburn Town      TC     78.80  21.46  -71.14
8      Butaritari      KI     80.87   3.07  172.79
9           Buala      SB     86.47  -8.14  159.59
13      Hithadhoo      MV     82.26  -0.60   73.08

In [ ]:
#Using the latitude and longitude and specific parameters, use the Google Places Nearby Search request to retrieve a hotel and add it to the Hotel Name column.
#Retrieve Hotels from a Nearby Search
#The first step for retrieving hotels from a Nearby Search is to set the parameters for the search.
#Set the Parameters for a Nearby Search
#To find the nearest establishment to geographic coordinates, use the Google Places Nearby Search request.
#For our hotel search, we'll use these parameters:
#API key
#Latitude and longitude
#5,000-meter radius
#Type of place
#https://developers.google.com/places/web-service/supported_types
#https://developers.google.com/places/web-service/search#PlaceSearchRequests%0D%0A
#On the webpage, Table 1 shows all the different Place types values. "Hotel" does not appear, but "lodging" does, so we will use the string "lodging" for the type parameter.