In [1]:
#import the dependencies
import pandas as pd
import gmaps
import requests

#import the API key
from config import g_key

In [2]:
#import csv file

city_data_df = pd.read_csv("weather_data./cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Ayora,EC,2021-01-13 02:27:24,-0.7393,-90.3518,75.00,93,100,1.99
1,1,Kodiak,US,2021-01-13 02:23:57,57.7900,-152.4072,33.80,93,90,10.04
2,2,Rikitea,PF,2021-01-13 02:27:24,-23.1203,-134.9692,77.99,78,3,16.73
3,3,Kirya,TZ,2021-01-13 02:27:24,-3.9167,37.4833,69.06,80,78,3.53
4,4,Richards Bay,ZA,2021-01-13 02:26:40,-28.7830,32.0377,71.96,89,0,4.85

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Create a Maximum Temperature Heatmap
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
#locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure()
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
#fig.add_layer(heat_layer)
# Call the figure to plot the data.
#fig

In [6]:
#To remove the negative temperatures we can use a for loop to iterate through the max_temp and add the temperatures that are greater than 0 째F to a new list.
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
#get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp, 0))
    
# Assign the figure variable.  
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
#Instead of using the for loop, we can perform a list comprehension within the heatmap_layer() function.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [7]:
#Adjust Heatmap Zoom, Intensity, and Point Radius
#First, add the geographic center of Earth in the form of latitude and longitude (30.0째 N and 31.0째 E). Also, add a zoom level so that only one map of Earth is shown.
#When we add a center and zoom level to the gmaps.figure() attribute, it will look like this:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#If we scroll and zoom in on North America, we can see that the circles for the temperatures need to be modified 
#so that they are larger and show temperature gradient differences.

heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Create a Percent Humidity Heatmap
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#Create a Wind Speed Heatmap
#Now we can create the final heatmap. Copy the code that created the previous heatmap and edit your code with 
#the line wind = city_data_df["Wind Speed"] so that the wind speed replaces the percent cloudiness, and set the 
#variable weights=wind, and run your cell.

# Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#Now, the cherry on top of the project: a feature on the app that allows customers 
#to search for locations they want to travel based on their temperature preferences.

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [12]:
#Next, filter the maximum temperature column in the city_data_df DataFrame using logical operators to create a new DataFrame with the cities that meet the customer's criteria.

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Balikpapan,ID,2021-01-13 02:27:25,-1.2675,116.8289,80.60,89,20,3.44
12,12,New Norfolk,AU,2021-01-13 02:27:26,-42.7826,147.0587,82.00,29,0,1.99
21,21,Georgetown,MY,2021-01-13 02:26:21,5.4112,100.3354,82.40,73,20,3.44
31,31,Carnarvon,AU,2021-01-13 02:27:28,-24.8667,113.6333,80.60,69,0,19.57
35,35,Hithadhoo,MV,2021-01-13 02:25:55,-0.6000,73.0833,81.97,77,62,19.15
39,39,Kahului,US,2021-01-13 02:27:29,20.8947,-156.4700,80.60,57,40,11.50
50,50,Vaini,TO,2021-01-13 02:27:30,-21.2000,-175.2000,84.20,79,75,11.50
58,58,Sampit,ID,2021-01-13 02:27:31,-2.5333,112.9500,83.52,74,100,3.56
60,60,Waingapu,ID,2021-01-13 02:27:31,-9.6567,120.2641,86.38,66,94,4.27
72,72,Avarua,CK,2021-01-13 02:26:18,-21.2078,-159.7750,84.20,74,75,12.66

In [13]:
#Add the following code to a new cell and run the cell to determine if there are any null values.
preferred_cities_df.count()

City_ID       10
City          10
Country       10
Date          10
Lat           10
Lng           10
Max Temp      10
Humidity      10
Cloudiness    10
Wind Speed    10
dtype: int64

In [38]:
#Consider the following guidance:

#Depending on the time of year and the seasons, you might have to adjust the minimum and maximum temperature to get enough cities.
#It is a good idea to keep the number of cities to fewer than 200 to make it easier to plot the markers on the heatmap.
#If you have some rows with null values, you'll need to drop them using the dropna() method at the end of your filtering statement when you are creating the new DataFrame.

In [14]:
#Now that we have all the cities the customer wants to travel to, they will need to find a hotel to stay in the city.
#Once the customers have filtered the database (DataFrame) based on their temperature preferences, show them a heatmap for the maximum temperature for the filtered cities. In addition, create a marker for each city that will display the name of the city, country code, maximum temperature, and name of a nearby hotel within three miles of the coordinates when the marker is clicked.
#Get Travel Destinations
#Don't add the hotel information to the preferred_cities_df DataFrame because this DataFrame is our filtered DataFrame, and the customer will always filter it for each trip. We'll need to create a new DataFrame specifically for the data needed to create a heatmap and pop-up markers.
#Make a copy of the preferred_cities_df DataFrame and name it hotel_df. For the hotel_df, keep the columns "City," "Country," "Max Temp," "Lat," and "Lng." Add a new column to the hotel_df DataFrame to hold the name of the hotel.

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
10   Balikpapan      ID     80.60  -1.2675  116.8289
12  New Norfolk      AU     82.00 -42.7826  147.0587
21   Georgetown      MY     82.40   5.4112  100.3354
31    Carnarvon      AU     80.60 -24.8667  113.6333
35    Hithadhoo      MV     81.97  -0.6000   73.0833
39      Kahului      US     80.60  20.8947 -156.4700
50        Vaini      TO     84.20 -21.2000 -175.2000
58       Sampit      ID     83.52  -2.5333  112.9500
60     Waingapu      ID     86.38  -9.6567  120.2641
72       Avarua      CK     84.20 -21.2078 -159.7750

In [15]:
#Using the latitude and longitude and specific parameters, use the Google Places Nearby Search request to retrieve a hotel and add it to the Hotel Name column.
#Retrieve Hotels from a Nearby Search
#The first step for retrieving hotels from a Nearby Search is to set the parameters for the search.
#Set the Parameters for a Nearby Search
#To find the nearest establishment to geographic coordinates, use the Google Places Nearby Search request.
#For our hotel search, we'll use these parameters:
#API key
#Latitude and longitude
#5,000-meter radius
#Type of place
#https://developers.google.com/places/web-service/supported_types
#https://developers.google.com/places/web-service/search#PlaceSearchRequests%0D%0A
#On the webpage, Table 1 shows all the different Place types values. "Hotel" does not appear, but "lodging" does, so we will use the string "lodging" for the type parameter.

#Recall that when we made a request with the OpenWeatherMap API, we added the base URL with the city, city_url, to the request, city_weather = requests.get(city_url).
#We can use the same format to make a request with the Google Places API. The following base URL is provided to retrieve the JSON format of the data:

#https://maps.googleapis.com/maps/api/place/nearbysearch/json

#Next, we'll need to look at the documentation on the Python Requests Library (Links to an external site.) provided earlier. The section "Passing Parameters In URLs" states that we can add the parameters as a dictionary of strings, using the params keyword argument requests.get('base URL', params=parameters). This is highlighted in the following screenshot.
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
        print("Hotel not found... skipping.")

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
#Now we can add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} 째F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
#Let's review what we're doing with this code.

#We set the hotel_info equal to the info_box_content.
#In the list comprehension, info_box_template.format(**row) for index, row in hotel_df.iterrows(), we iterate through each "row" of the hotel_df DataFrame and then format the info_box_template with the data we set to populate the from each row. Remember, we are not using every row; we are only using the rows defined in the info_box_template, which are Hotel Name, City, Country, and Max Temp.
#Next, in the code we used to create the heatmap with markers, add info_box_content=hotel_info to the gmaps.marker_layer() attribute with the locations. Our final cell should look like the following.

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))