In [2]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
# Create a set of random latitude and longitude combinations.
#The zip object packs each pair of lats and lngs having the same index in their respective array into a tuple. If there are 1,500 latitudes and longitudes, there will be 1,500 tuples of paired latitudes and longitudes, where each latitude and longitude in a tuple can be accessed by the index of 0 and 1, respectively.
lats = np.random.uniform(low=-90.000, high=90.000, size=30)
lngs = np.random.uniform(low=-180.000, high=180.000, size=30)
lat_lngs = zip(lats, lngs)
lat_lngs

In [4]:
#Next, let's unpack our lat_lngs zip object into a list. This way, we only need to create a set of random latitudes and longitudes once. 
# Add the latitudes and longitudes to a list.
#You can only unzip a zipped tuple once before it is removed from the computer's memory. Make sure you unzip the latitudes and longitudes into the coordinates list before moving on.
coordinates = list(lat_lngs)

In [5]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [6]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name
    
    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
        
# Print the city count to confirm sufficient count.
len(cities)

26

In [7]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [8]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [9]:
# Import the datetime module from the datetime library.
from datetime import datetime

In [10]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")
# Create counters.
record_count = 1
set_count = 1
#In the code block, we have initialized the counters at 1 because we want the first iteration of the logging for each recorded response and the set to start at 1.

Beginning Data Retrieval
-----------------------------

In [11]:
# Loop through all the cities in our list.
for i in range(len(cities)):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + cities[i]

In [12]:
#Every time we want to reference the city in our code, we need to use the indexing on the cities list. Unfortunately, this will cause programming errors when we are building the city_url because it adds the index, not the city name, to the city_url. To fix this issue, we need to create another for loop to get the city from the cities list.

#Instead of using two for loops, we can use the enumerate() method as an alternative way to iterate through the list of cities and retrieve both the index, and the city from the list. The syntax for the enumerate() method is the following:

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Processing Record 1 of Set 1 | carnarvon
Processing Record 2 of Set 1 | itupiranga
Processing Record 3 of Set 1 | barrow
Processing Record 4 of Set 1 | mentok
City not found. Skipping...
Processing Record 5 of Set 1 | genhe
Processing Record 6 of Set 1 | cockburn town
Processing Record 7 of Set 1 | tuatapere
Processing Record 8 of Set 1 | strezhevoy
Processing Record 9 of Set 1 | punta arenas
Processing Record 10 of Set 1 | tsihombe
City not found. Skipping...
Processing Record 11 of Set 1 | butaritari
Processing Record 12 of Set 1 | buala
Processing Record 13 of Set 1 | san patricio
Processing Record 14 of Set 1 | bredasdorp
Processing Record 15 of Set 1 | kuche
City not found. Skipping...
Processing Record 16 of Set 1 | hami
Processing Record 17 of Set 1 | hithadhoo
Processing Record 18 of Set 1 | albany
Processing Record 19 of Set 1 | mataura
Processing Record 20 of Set 1 | xining
Processing Record 21 of Set 1 | makat
Processing Record 22 of Set 1 | hobart
Processing Record 23 of Set 1 | dinhata
Processing Record 24 of Set 1 | santiago del estero
Processing Record 25 of Set 1 | leningradskiy
Processing Record 26 of Set 1 | qaanaaq
-----------------------------
Data Retrieval Complete
-----------------------------

In [16]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Carnarvon,-24.87,113.63,75.20,100,0,5.82,AU,2020-12-22 22:42:37
1,Itupiranga,-5.13,-49.33,82.40,94,20,2.26,BR,2020-12-22 22:42:37
2,Barrow,71.29,-156.79,-13.00,69,40,28.86,US,2020-12-22 22:42:37
3,Genhe,50.78,121.52,-2.18,90,99,3.38,CN,2020-12-22 22:42:38
4,Cockburn Town,21.46,-71.14,78.80,74,40,5.82,TC,2020-12-22 22:40:21
5,Tuatapere,-46.13,167.68,59.00,94,100,4.00,NZ,2020-12-22 22:42:38
6,Strezhevoy,60.73,77.59,-20.20,75,20,4.47,RU,2020-12-22 22:42:38
7,Punta Arenas,-53.15,-70.92,51.80,53,75,13.87,CL,2020-12-22 22:40:39
8,Butaritari,3.07,172.79,80.87,81,59,18.99,KI,2020-12-22 22:42:39
9,Buala,-8.14,159.59,86.47,66,72,0.85,SB,2020-12-22 22:42:39

In [17]:
#Reorder columns
city_data_df = city_data_df[["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]]
city_data_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Carnarvon,AU,2020-12-22 22:42:37,-24.87,113.63,75.20,100,0,5.82
1,Itupiranga,BR,2020-12-22 22:42:37,-5.13,-49.33,82.40,94,20,2.26
2,Barrow,US,2020-12-22 22:42:37,71.29,-156.79,-13.00,69,40,28.86
3,Genhe,CN,2020-12-22 22:42:38,50.78,121.52,-2.18,90,99,3.38
4,Cockburn Town,TC,2020-12-22 22:40:21,21.46,-71.14,78.80,74,40,5.82
5,Tuatapere,NZ,2020-12-22 22:42:38,-46.13,167.68,59.00,94,100,4.00
6,Strezhevoy,RU,2020-12-22 22:42:38,60.73,77.59,-20.20,75,20,4.47
7,Punta Arenas,CL,2020-12-22 22:40:39,-53.15,-70.92,51.80,53,75,13.87
8,Butaritari,KI,2020-12-22 22:42:39,3.07,172.79,80.87,81,59,18.99
9,Buala,SB,2020-12-22 22:42:39,-8.14,159.59,86.47,66,72,0.85

In [22]:
# Create the output file (CSV).
output_data_file = "weather_data./cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")