In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Create a set of random latitude and longitude combinations.
#The zip object packs each pair of lats and lngs having the same index in their respective array into a tuple. If there are 1,500 latitudes and longitudes, there will be 1,500 tuples of paired latitudes and longitudes, where each latitude and longitude in a tuple can be accessed by the index of 0 and 1, respectively.
lats = np.random.uniform(low=-90.000, high=90.000, size=100)
lngs = np.random.uniform(low=-180.000, high=180.000, size=100)
lat_lngs = zip(lats, lngs)
lat_lngs

In [3]:
#Next, let's unpack our lat_lngs zip object into a list. This way, we only need to create a set of random latitudes and longitudes once. 
# Add the latitudes and longitudes to a list.
#You can only unzip a zipped tuple once before it is removed from the computer's memory. Make sure you unzip the latitudes and longitudes into the coordinates list before moving on.
coordinates = list(lat_lngs)

In [6]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [7]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name
    
    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
        
# Print the city count to confirm sufficient count.
len(cities)

81

In [9]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [10]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [ ]:
#Let's use pseudocode to map out, at a high level, how we will get the weather data for each city for the website.

#We will need to do the following:

#Import our dependencies and initialize counters and an empty list that will hold the weather data.
#Loop through the cities list.
#Group the cities in sets of 50 to log the process as we find the weather data for each city.
#Two counters will be needed here: one to log the city count from 1 to 50, and another for the sets.
#Build the city_url or endpoint for each city.
#Log the URL and the record and set numbers.
#Make an API request for each city.
#Parse the JSON weather data for the following:
#City, country, and date
##Latitude and longitude
#Maximum temperature
#Humidity
#Cloudiness
#Wind speed
#Add the data to a list in a dictionary format and then convert the list to a DataFrame.
#Import Dependencies, and Initialize an Empty List and Counters
#At the top of our code block, we are going to declare an empty list, city_data = []; add a print statement that references the beginning of the logging; and create counters for the record numbers, 1â€“50; and the set counter.

#We will now work in our WeatherPy.ipynb file. Before continuing, make sure the following tasks are completed:

#Import your Requests Library and the weather_api_key.
#Build the basic URL for the OpenWeatherMap with your weather_api_key added to the URL.

In [12]:
# Import the datetime module from the datetime library.
from datetime import datetime

In [13]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")
# Create counters.
record_count = 1
set_count = 1
#In the code block, we have initialized the counters at 1 because we want the first iteration of the logging for each recorded response and the set to start at 1.

Beginning Data Retrieval
-----------------------------

In [14]:
# Loop through all the cities in our list.
for i in range(len(cities)):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + cities[i]

In [15]:
#Every time we want to reference the city in our code, we need to use the indexing on the cities list. Unfortunately, this will cause programming errors when we are building the city_url because it adds the index, not the city name, to the city_url. To fix this issue, we need to create another for loop to get the city from the cities list.

#Instead of using two for loops, we can use the enumerate() method as an alternative way to iterate through the list of cities and retrieve both the index, and the city from the list. The syntax for the enumerate() method is the following:

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Processing Record 1 of Set 2 | leningradskiy
Processing Record 2 of Set 2 | necochea
Processing Record 3 of Set 2 | kapaa
Processing Record 4 of Set 2 | hun
Processing Record 5 of Set 2 | nanortalik
Processing Record 6 of Set 2 | san cristobal
Processing Record 7 of Set 2 | omboue
Processing Record 8 of Set 2 | bethel
Processing Record 9 of Set 2 | inuvik
Processing Record 10 of Set 2 | pumiao
Processing Record 11 of Set 2 | busselton
Processing Record 12 of Set 2 | rio grande
Processing Record 13 of Set 2 | eyl
Processing Record 14 of Set 2 | pyaozerskiy
Processing Record 15 of Set 2 | punta arenas
Processing Record 16 of Set 2 | caravelas
Processing Record 17 of Set 2 | faanui
Processing Record 18 of Set 2 | torbay
Processing Record 19 of Set 2 | butaritari
Processing Record 20 of Set 2 | atuona
Processing Record 21 of Set 2 | cozumel
Processing Record 22 of Set 2 | mataura
Processing Record 23 of Set 2 | liberty
Processing Record 24 of Set 2 | davila
Processing Record 25 of Set 2 | thakurgaon
Processing Record 26 of Set 2 | kahului
Processing Record 27 of Set 2 | riyadh
Processing Record 28 of Set 2 | hithadhoo
Processing Record 29 of Set 2 | leshukonskoye
Processing Record 30 of Set 2 | tasiilaq
Processing Record 31 of Set 2 | siavonga
Processing Record 32 of Set 2 | albany
Processing Record 33 of Set 2 | ushuaia
Processing Record 34 of Set 2 | shenjiamen
Processing Record 35 of Set 2 | olafsvik
Processing Record 36 of Set 2 | tomatlan
Processing Record 37 of Set 2 | provideniya
Processing Record 38 of Set 2 | saldanha
Processing Record 39 of Set 2 | vaini
Processing Record 40 of Set 2 | bansi
Processing Record 41 of Set 2 | bar harbor
Processing Record 42 of Set 2 | isangel
Processing Record 43 of Set 2 | bluff
Processing Record 44 of Set 2 | taolanaro
City not found. Skipping...
Processing Record 45 of Set 2 | morondava
Processing Record 46 of Set 2 | victoria
Processing Record 47 of Set 2 | castro
Processing Record 48 of Set 2 | teya
Processing Record 49 of Set 2 | illoqqortoormiut
City not found. Skipping...
Processing Record 50 of Set 2 | letlhakane
Processing Record 1 of Set 3 | port-gentil
Processing Record 2 of Set 3 | port alfred
Processing Record 3 of Set 3 | comodoro rivadavia
Processing Record 4 of Set 3 | qaanaaq
Processing Record 5 of Set 3 | grindavik
Processing Record 6 of Set 3 | shepsi
Processing Record 7 of Set 3 | new norfolk
Processing Record 8 of Set 3 | rikitea
Processing Record 9 of Set 3 | erzin
Processing Record 10 of Set 3 | hermanus
Processing Record 11 of Set 3 | port blair
Processing Record 12 of Set 3 | belushya guba
City not found. Skipping...
Processing Record 13 of Set 3 | granicesti
Processing Record 14 of Set 3 | coquimbo
Processing Record 15 of Set 3 | hilo
Processing Record 16 of Set 3 | khonuu
City not found. Skipping...
Processing Record 17 of Set 3 | standerton
Processing Record 18 of Set 3 | albury
Processing Record 19 of Set 3 | lebu
Processing Record 20 of Set 3 | yakeshi
Processing Record 21 of Set 3 | saskylakh
Processing Record 22 of Set 3 | hamilton
Processing Record 23 of Set 3 | pereira barreto
Processing Record 24 of Set 3 | mahebourg
Processing Record 25 of Set 3 | gambela
Processing Record 26 of Set 3 | dikson
Processing Record 27 of Set 3 | jinchang
Processing Record 28 of Set 3 | avarua
Processing Record 29 of Set 3 | bambanglipuro
Processing Record 30 of Set 3 | dingle
Processing Record 31 of Set 3 | grand river south east
City not found. Skipping...
-----------------------------
Data Retrieval Complete
-----------------------------

In [16]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Leningradskiy,69.3833,178.4167,-17.27,87,100,18.59,RU,2021-01-13 01:15:39
1,Necochea,-38.5473,-58.7368,62.28,40,0,15.39,AR,2021-01-13 01:11:21
2,Kapaa,22.0752,-159.3190,80.01,69,1,10.36,US,2021-01-13 01:15:40
3,Hun,29.1268,15.9477,53.42,55,100,14.97,LY,2021-01-13 01:15:40
4,Nanortalik,60.1432,-45.2371,31.60,96,100,5.32,GL,2021-01-13 01:15:40
5,San Cristobal,7.7669,-72.2250,62.91,88,20,1.41,VE,2021-01-13 01:12:07
6,Omboue,-1.5746,9.2618,76.77,88,100,12.19,GA,2021-01-13 01:15:41
7,Bethel,41.3712,-73.4140,32.00,86,1,1.54,US,2021-01-13 01:15:41
8,Inuvik,68.3499,-133.7218,1.40,85,98,3.44,CA,2021-01-13 01:14:16
9,Pumiao,22.7500,108.4833,48.20,66,77,2.24,CN,2021-01-13 01:15:41

In [17]:
#Reorder columns
city_data_df = city_data_df[["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]]
city_data_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Leningradskiy,RU,2021-01-13 01:15:39,69.3833,178.4167,-17.27,87,100,18.59
1,Necochea,AR,2021-01-13 01:11:21,-38.5473,-58.7368,62.28,40,0,15.39
2,Kapaa,US,2021-01-13 01:15:40,22.0752,-159.3190,80.01,69,1,10.36
3,Hun,LY,2021-01-13 01:15:40,29.1268,15.9477,53.42,55,100,14.97
4,Nanortalik,GL,2021-01-13 01:15:40,60.1432,-45.2371,31.60,96,100,5.32
5,San Cristobal,VE,2021-01-13 01:12:07,7.7669,-72.2250,62.91,88,20,1.41
6,Omboue,GA,2021-01-13 01:15:41,-1.5746,9.2618,76.77,88,100,12.19
7,Bethel,US,2021-01-13 01:15:41,41.3712,-73.4140,32.00,86,1,1.54
8,Inuvik,CA,2021-01-13 01:14:16,68.3499,-133.7218,1.40,85,98,3.44
9,Pumiao,CN,2021-01-13 01:15:41,22.7500,108.4833,48.20,66,77,2.24

In [18]:
# Create the output file (CSV).
output_data_file = "weather_data./cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")