## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Miasskoye,RU,55.2784,61.8905,-4.00,59,40,13.42,light snow
1,1,Georgetown,MY,5.4112,100.3354,82.00,78,20,2.30,few clouds
2,2,Thompson,CA,55.7435,-97.8558,-27.40,68,75,14.97,snow
3,3,Jamestown,US,42.0970,-79.2353,12.99,72,90,10.36,light snow
4,4,Avarua,CK,-21.2078,-159.7750,84.20,79,40,10.36,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 55
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Georgetown,MY,5.4112,100.3354,82.00,78,20,2.30,few clouds
4,4,Avarua,CK,-21.2078,-159.7750,84.20,79,40,10.36,light rain
5,5,Puerto Ayora,EC,-0.7393,-90.3518,77.00,96,100,1.99,light rain
10,10,Bambous Virieux,MU,-20.3428,57.7575,79.00,83,40,5.75,light rain
12,12,Ahipara,NZ,-35.1667,173.1667,72.79,58,46,10.07,scattered clouds
15,15,Moerai,PF,-22.4333,-151.3333,82.08,69,21,8.66,few clouds
16,16,Manaure,CO,11.7751,-72.4445,78.73,70,99,15.05,overcast clouds
18,18,Tramandai,BR,-29.9847,-50.1336,69.57,74,0,6.11,clear sky
19,19,Puerto Escondido,MX,15.8500,-97.0667,80.60,74,20,4.27,few clouds
21,21,Cabo San Lucas,MX,22.8909,-109.9124,68.00,60,20,4.61,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                4
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Georgetown,MY,5.4112,100.3354,82.00,78,20,2.30,few clouds
4,4,Avarua,CK,-21.2078,-159.7750,84.20,79,40,10.36,light rain
5,5,Puerto Ayora,EC,-0.7393,-90.3518,77.00,96,100,1.99,light rain
10,10,Bambous Virieux,MU,-20.3428,57.7575,79.00,83,40,5.75,light rain
12,12,Ahipara,NZ,-35.1667,173.1667,72.79,58,46,10.07,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
686,686,Nhamunda,BR,-2.1861,-56.7131,76.42,91,100,2.13,light rain
687,687,Presidente Medici,BR,-11.1753,-61.9014,73.96,95,94,2.66,moderate rain
692,692,Poum,NC,-20.2333,164.0167,80.64,66,0,7.09,clear sky
693,693,Half Moon Bay,US,37.4636,-122.4286,64.40,76,1,11.50,clear sky
694,694,Carambei,BR,-24.9178,-50.0972,58.41,76,0,8.50,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, current description, and coordinates.

hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Georgetown,MY,82.00,few clouds,5.4112,100.3354,
4,Avarua,CK,84.20,light rain,-21.2078,-159.7750,
5,Puerto Ayora,EC,77.00,light rain,-0.7393,-90.3518,
10,Bambous Virieux,MU,79.00,light rain,-20.3428,57.7575,
12,Ahipara,NZ,72.79,scattered clouds,-35.1667,173.1667,
15,Moerai,PF,82.08,few clouds,-22.4333,-151.3333,
16,Manaure,CO,78.73,overcast clouds,11.7751,-72.4445,
18,Tramandai,BR,69.57,clear sky,-29.9847,-50.1336,
19,Puerto Escondido,MX,80.60,few clouds,15.8500,-97.0667,
21,Cabo San Lucas,MX,68.00,few clouds,22.8909,-109.9124,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]    

    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Georgetown,MY,82.00,few clouds,5.4112,100.3354,Cititel Penang
4,Avarua,CK,84.20,light rain,-21.2078,-159.7750,Paradise Inn
5,Puerto Ayora,EC,77.00,light rain,-0.7393,-90.3518,Castillo Galapagos
10,Bambous Virieux,MU,79.00,light rain,-20.3428,57.7575,Casa Tia Villa
12,Ahipara,NZ,72.79,scattered clouds,-35.1667,173.1667,Ahipara Holiday Park
...,...,...,...,...,...,...,...
686,Nhamunda,BR,76.42,light rain,-2.1861,-56.7131,Pousada Da Praia
687,Presidente Medici,BR,73.96,moderate rain,-11.1753,-61.9014,Oliveira Palace Hotel
692,Poum,NC,80.64,clear sky,-20.2333,164.0167,Gîte kajeon
693,Half Moon Bay,US,64.40,clear sky,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
694,Carambei,BR,58.41,clear sky,-24.9178,-50.0972,Hotel Wolthuis

In [11]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= ""]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Georgetown,MY,82.00,few clouds,5.4112,100.3354,Cititel Penang
4,Avarua,CK,84.20,light rain,-21.2078,-159.7750,Paradise Inn
5,Puerto Ayora,EC,77.00,light rain,-0.7393,-90.3518,Castillo Galapagos
10,Bambous Virieux,MU,79.00,light rain,-20.3428,57.7575,Casa Tia Villa
12,Ahipara,NZ,72.79,scattered clouds,-35.1667,173.1667,Ahipara Holiday Park
...,...,...,...,...,...,...,...
686,Nhamunda,BR,76.42,light rain,-2.1861,-56.7131,Pousada Da Praia
687,Presidente Medici,BR,73.96,moderate rain,-11.1753,-61.9014,Oliveira Palace Hotel
692,Poum,NC,80.64,clear sky,-20.2333,164.0167,Gîte kajeon
693,Half Moon Bay,US,64.40,clear sky,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
694,Carambei,BR,58.41,clear sky,-24.9178,-50.0972,Hotel Wolthuis

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
#locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))