## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,21,Laguna,US,53.01,mist,38.4210,-121.4238,NaN
1,32,Baghdad,IQ,51.80,overcast clouds,33.3406,44.4009,NaN
2,39,Ushuaia,AR,46.40,broken clouds,-54.8000,-68.3000,NaN
3,42,Waddan,LY,47.64,clear sky,29.1614,16.1390,NaN
4,49,Ponta Do Sol,PT,52.00,few clouds,32.6667,-17.1000,NaN

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Laguna")]
#vacation_end = vacation_df.loc[(vacation_df["City"] == "Laguna")]
#vacation_stop1 = vacation_df.loc[(vacation_df["City"] == city1)]
#vacation_stop2 = vacation_df.loc[(vacation_df["City"] == city2)] 
#vacation_stop3 = vacation_df.loc[(vacation_df["City"] == city3)]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,21,Laguna,US,53.01,mist,38.421,-121.4238,NaN

In [10]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

#pd.DataFrame({"A": [1, 2], "B": [3, 4]}).to_numpy()
#array([[1, 3],
      # [2, 4]])

#{'coord': {'lon': 16.139, 'lat': 29.1614}
#.DataFrame({vacation_start['Lat', 'Lng']).to_numpy()


#records = df.to_records(index=False)
#result = list(records)
#print(result)

start = (vacation_start['Lat'].to_numpy(dtype=float)[0], vacation_start['Lng'].to_numpy(dtype=float)[0])
#end = (vacation_end['Lat'].to_numpy(dtype=float)[0], vacation_end['Lng'].to_numpy(dtype=float)[0])
#stop1 = (stop1['Lat'].to_numpy(dtype=float)[0], stop1['Lng'].to_numpy(dtype=float)[0])
#stop2 = (stop2['Lat'].to_numpy(dtype=float)[0], stop2['Lng'].to_numpy(dtype=float)[0])
#stop3 = (stop3['Lat'].to_numpy(dtype=float)[0], stop3['Lng'].to_numpy(dtype=float)[0])

(38.421, -121.4238)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Latitude-longitude pairs
#geneva = (x, y)
#montreux = (46.4, 6.9)
#zurich = (47.4, 8.5)

#fig = gmaps.figure()
#geneva2zurich = gmaps.directions_layer(geneva, zurich)
#fig.add_layer(geneva2zurich)
#fig

#with waypoints it is not possible driving

fig = gmaps.figure()
start_end_3stops = gmaps.directions_layer(start, end, waypoints=[stop1, stop_2, stop_3], travel_mode='BICYCLING')
fig.add_layer(start_end_3stops)
fig

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([start, stop1, stop2, stop3],ignore_index=True)
itinerary_df

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig